body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
form{
    background-image: linear-gradient(to right,blue,orange,red);
    
}
fieldset{
    color: yellow;
}
legend{
    font-weight: bold;
    font-size: 24px;
    text-shadow: 10px 10px 10px black;
}
form #bloc-page{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
form #bloc-page #titre{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form #bloc-page #titre h1{
    text-shadow: 10px 10px 10px black;
    font-weight: lighter;
}
form #bloc-page #bloc{
    display: flex;
    flex-direction: column;
}
form #bloc-page #bloc #taux{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
form #bloc-page #bloc #taux #tx{
    display: flex;
}
form #bloc-page #bloc #bloc-prix{
    display: flex;
    flex-direction: column;
}
form #bloc-page #bloc #bloc-prix div{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 00px;
}
form #foot{
    display: flex;
    margin-top: 10px;
}
form #foot #effacer{
    border-radius: 10px;
    width: 120px;
    border: 2px solid blue;
    box-shadow: 5px 5px 5px blue;
    margin-right: 10px;
    font-weight: bold;
}
form #foot #calcul{
    border-radius: 10px;
    width: 120px;
    border: 2px solid blue;
    box-shadow: 5px 5px 5px blue;
    font-weight: bold;
}
form #foot #calcul:hover{
    background-color: yellow;
    transform: scaleY(1.5);
}
form #foot #effacer:hover{
    background-color: red;
    transform: scaleY(1.5);
}